
<ion-view title="Square Search">
  <div class="bar bar-header item-input-inset searchBox">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="obj.searchStr" ng-change="search()" placeholder="Search Foursquare" class="search-input searchBar" >
      </label>
    </div>
  <ion-content>

   <ion-list>
    <ion-item class="item item-thumbnail-left item-icon-right" 
      ng-click="handleClick(venue.venueID, $event)"
      ng-repeat="venue in venues" 
      type="item-text-wrap" 
      href="#/search/search/{{venue.id}}">

        <img ng-src="{{venue.picture_url}}">
        <h2 class="name">{{venue.title}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
